.product-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.container {
    padding-bottom: 60px;
}


.product-card {
    display: flex;
    gap: 45px;
     background: linear-gradient(to right, #ffffff, #fff9f3);
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    transition: 0.3s ease;
    align-items: center;
    margin-bottom: 35px;
    min-height: 260px;
}

.product-card:hover {
    transform: translateY(-4px);
}

.product-image {
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f9f9f9;
    border-radius: 15px;
    overflow: hidden;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 220px;
}

.product-name {
    font-weight: 600;
    font-size: 22px;
}

.product-brand {
    color: #666;
    margin: 8px 0;
}

.product-description {
    font-size: 14px;
    color: #555;
    max-width: 80%;
}
.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #d63384;
    margin: 15px 0;
}


.product-bottom {
    margin-top: auto;  
    display: flex;
    gap: 15px;
    align-items: center;

}

@media (max-width: 150px) {
    .product-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-image img {
        width: 100%;
        height: auto;
    }

    .product-bottom {
        flex-direction: column;
        gap: 10px;
    }
}
