/*Wrapper*/
.form-wrapper {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #eee;
}

.btn-back{
    display: inline-block;
    margin-bottom: 12px;
    font-size: 14px;
    color: #4f46e5;
    text-decoration: none;
}

.btn-back:hover{
      text-decoration: underline;
}

/*form grid*/
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/*form group*/
.form-group {
    display: flex;
    flex-direction: column;
} 

.form-group label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

.form-group input,
.form-group select {
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid #ccc;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #4f46e5;
}

/*form action*/

.form-actions {
    margin-top: 30px;
    display: flex;
    gap: 19px;
}

.btn-primary{
    padding: 8px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    background-color: rgb(120, 193, 210);
    display: inline-block;
    transition: transform 0.15s ease;
}

.btn-primary:hover{
    transform: translateY(-2px);
}

.btn-secondary {
    padding: 6px;
    text-decoration: none;
    font-size: 20px;
    background: #fff;
    color: red;
    
}
.btn-secondary:hover{
  text-decoration: underline;
}

.form-group select,
.form-group input {
  width: 100%;
  box-sizing: border-box;
}



/*Responsive*/

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}